ion-content {
    --background: linear-gradient(to top right, #74b2f0, #c99db3, #fd804d);

    #faqwrap {
        font-size: 14px;
        text-align: justify;
        padding: 0 15px;

        .header {
            font-size: 18px;
            text-align: center;
            font-weight: bold;
        }

        .mgbt-25 {
            margin-bottom: 25px !important;
            display: block;
        }

        .section-label {
            color: #000;
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;
        }

        .section-label-medium {
            color: #000;
            font-size: 16px;
            text-transform: uppercase;
            text-decoration: underline;
        }

        .custom-par {
            font-size: 13px;
            text-align: justify;
        }

        ul {
            margin-bottom: 0px !important;
            list-style: none !important;
            padding: 0;

            .section-label-small {
                margin: 0;
                color: #000;
                font-size: 14px;
                text-transform: uppercase;
                text-decoration: underline;
            }

            li {
                .custom-par {
                    font-size: 13px;
                    text-align: justify;
                }
            }
        }
    }
    
}

