<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title> FAQs </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="faqwrap">
    <h1 class="section-label mgbt-25 header">
      FREQUENTLY ASKED QUESTIONS
      <br />(FAQs)
    </h1>
    <p id="parag1" class="custom-par">We have collected all Frequently Asked Questions (FAQs) about OMNIPAY Prepaid Card
      and Mobile Application and answered them here. For other queries, please contact us at our Customer Service +62 8
      884-1793.</p>
    <h2 id="head1" class="section-label-medium mgbt-25">OMNIPAY PREPAID CARD</h2>
    <ul id="wholebody">
      <h3 id="firsth3" class="section-label-small">Card Features:</h3><br />
      <li>
        <b>1) How is the OMNIPAY Prepaid Card different from a debit card and a credit card?</b><br />
        <p class="mgtp-10 custom-par">The OMNIPAY Card is essentially a prepaid card. Meaning you need to load the card
          with money before you can use it. Where as a debit card is attached to a savings account while a credit card
          has a credit limit assigned by the issuing bank.</p>
      </li>
      <li>
        <b>2) Where can I use my OMNIPAY Prepaid Card?</b><br />
        <p class="mgtp-10 custom-par">Your virtual card can be used in facilitating Transfer transactions using the
          OMNIPAY MOBILE APP. If you are using a physical OMNIPAY Prepaid Card, you may use your card anywhere Unionpay
          cards are accepted – that’s millions of locations worldwide ranging from ATM to retail stores to online
          transactions.</p>
      </li>
      <h3 id="secondh3" class="section-label-small">Using The OMNIPAY Prepaid Card:</h3><br />
      <li>
        <b>3) Where can I get my physical OMNIPAY Prepaid Card? </b><br />
        <p class="mgbt-15">For cardholders based in the Philippines, your physical card will be sent via courier to
          your registered address. Please ensure that your address is correct. </p>
      </li>
      <li>
        <b>4) Can I use my OMNIPAY Prepaid Card right away?</b><br />
        <p class="mgtp-10 custom-par">You need to activate your card first before you do transactions.</p>
      </li>
      <li>
        <b>5) How do I activate my OMNIPAY Prepaid Card?</b><br />
        <p class="mgtp-10 custom-par">Your OMNIPAY Prepaid Card will automatically be activated upon initial loading of
          the card.</p>
      </li>
      <li>
        <b>6) Where do I load my OMNIPAY Card?</b><br />
        <p class="mgtp-10 custom-par">You may further coordinate with your Corporate Issuer for loading requirements.
        </p>
      </li>
      <li>
        <b>7) Can I get cash from an ATM?</b><br />
        <p class="mgtp-10 custom-par">Yes. If you have a physical OMNIPAY Prepaid Card, this may also serve as an ATM
          card. All you need is your PIN to access cash at any BancNet ATMs nationwide.</p>
      </li>
      <li>
        <b>8) Is there a limit to how much cash I can withdraw/purchase from my account each day?</b><br />
        <p class="mgtp-10 custom-par">The amount you can withdraw/purchase depends on your card available balance.
          However, there are certain transaction limits also imposed by the Acquiring bank and this should also be
          considered. </p>
      </li>

      <h3 id="thirdh3" class="section-label-small">Transferring Funds using your OMNIPAY Prepaid Card account:</h3>
      <br />

      <li>
        <b>9) How can my beneficiary register in OMNIPAY Mobile App?</b><br />
        <p class="mgtp-10 custom-par">Your family members and other prospect beneficiaries can have their OMNIPAY
          Prepaid Card account and Mobile App too. You may also request them to download the OMNIPAY Mobile App and
          register. </p>
      </li>
      <li>
        <b>10) How will I know if my beneficiary received the funds? </b><br />
        <p class="mgtp-10 custom-par">An email notification will be sent to you and your beneficiary as soon as funds
          are credited to their OMNIPAY Prepaid Card.</p>
      </li>

      <h3 id="fourthh3" class="section-label-small">USING THE OMNIPAY CARD FOR UNIONPAY QR TRANSACTIONS</h3><br />
      <li>
        <b>11) What is QR code Payment?</b><br />
        <p class="mgtp-10 custom-par">QR code payment is an alternative contactless method of payment that involves scanning of a Quick Response (QR) code from a mobile application, like OmniPay Mobile App.</p>
      </li>
      <li>
        <b>12) How can I use this feature?</b><br />
        <p class="mgtp-10 custom-par">To use this feature, tap on QR on the menu, select User Payment. Please ensure that your prepaid card is enabled for UnionPay QR payments to successfully use this feature.</p>
        <p class="mgtp-10 custom-par">Merchant must be also an accredited QR merchant of UnionPay.</p>
      </li>
      <li class="mgbt-15">
        <b>13) How can I enable my card for UnionPay QR payments?</b><br />
        <p class="mgtp-10 custom-par">Please contact your corporate issuer to avail of this feature.</p>
      </li>

      <h3 id="fifthh3" class="section-label-small">Managing your OMNIPAY Prepaid Card account:</h3><br />
      <li>
        <b>14) How can I check my balance and transactions?</b><br />
        <p class="mgtp-10 custom-par">You can view your balance automatically once you log in. You can also click on
          ‘View Card’ on the Home Page to display all your balances. Click 'Transaction History' to see your detailed
          transactions.</p>
      </li>
      <li>
        <b>15) What happens if my OMNIPAY Prepaid Card is lost or stolen?</b><br />
        <p class="mgtp-10 custom-par">If you lose your OMNIPAY Prepaid Card or it is stolen, call our Customer Service
          team immediately at +62 8 884-1793. When you call you will be asked to provide your card number and other
          details so that we can verify we are talking to the correct person.</p>
        <p class="mgtp-10 custom-par">If our records show that there is money remaining on your Lost card account, you
          may request a balance transfer as soon as you are issued a new card.</p>
      </li>
      <li id="nightlightcoral">
        <b>16) What happens if I forget my PIN?</b><br />
        <p class="mgtp-10 custom-par">Should you forget your PIN, you may request for a new PIN to be issued to you
          through the Customer Service email customerservice@omnipay.asia or hotline at +62 8 884 1793. </p>
      </li>
    </ul>
  </div>
</ion-content>