.avatar-container {
    display: inline-block;
}

.tab-logo {
    border-radius: 50%;
    padding-top: 7px;
    background: white; 
    height: 35px; 
    width: 35px;
    margin: 4px auto auto auto;
}