<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home" color="light"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="about-header ion-text-center">
    <div class="about-image omnipay ion-text-center"></div>
  </div>

  <div class="about-info" style="text-align: justify; text-justify: inter-word;">
    <h3>Company History</h3>
    <p>Incorporated in 2009, Omnipay, Incorporated (formerly PVB Card Corporation) is a Bangko Sentral Ng Pilipinas
      (BSP)-approved entity and regulated as a Non-Bank Financial Institution (NBFI). It is also a BSP-approved
      Electronic Money Issuer (EMI-NBFI) and a direct member of UnionPay International, JCB International and BancNet
      as Electronic Money Issuer Affiliate.</p>

    <p>OmniPay’s Board of Directors and Management has aggressively sourced ways to expand their client base while
      continuously providing the best services and product offerings to its existing partners. Recognizing the need
      for other growth and commercial opportunities to keep up in today's competition, OmniPay continues to explore
      the opportunities of the card business</p>

    <p>Through the new Card Company's innovative card programs and state-of-the-art technology of Bastion Payment
      Systems, OmniPay may now compete in the rapidly growing card payment industry that is sweeping the global arena
      as banks worldwide shift their focus from investment banking to unique programs offering.</p>

    <h3>Head Office</h3>
    <p>OMNIPAY, INC (formerly PVB Card Corp.)
      27/F Chatham House,
      116 Valero St., Salcedo Village,
      Makati City, Philippines 1227</p>

    <p>Monday - Friday
      8:30 AM to 5:30 PM (PHT) Philippine Standard Time</p>

    <h3>Customer Service Hotline</h3>
    <p>+63(2) 8884 - 1793</p>

    <h1>Email</h1>
    <p>customerservice@omnipay.asia</p>
  </div>
</ion-content>
