ion-content {
    --background: linear-gradient(to top right, #74b2f0, #c99db3, #fd804d);
    height: 100%;
    position: relative;

    #img_card {
        text-align: center;

        .login_img {
            margin-top: 5vh;
            width: 60%;
        }
    }

    #form_container {
        display: block;
        margin-right: 8%;
        margin-top: 5vh;
        margin-left: 8%;
        border-radius: 15px;

        form {
            ion-row {
                ion-col {
                    ion-item {
                        ion-icon {
                            height: 100%;
                            vertical-align: middle;
                            text-align: center;
                            padding-right: 10px;
                        }

                        #userId, #password {
                            min-height: 37px;
                        }

                        .note {
                            font-size: 14px;
                            color: white;
                        }
                    }

                    .forgotPass {
                        font-size: 14px;
                        color: white;
                    }

                    .pass_item {
                        margin-top: -10px;
                    }
                }
            }
        }
    }
}

.login-wrap {
    display: block;
    margin-right: 5%;
    margin-top: 5vh;
    margin-left: 5%;
    border-radius: 15px;
}

.passwordIcon {
    font-size: 20px !important;
    position: absolute !important;
    margin: 0 auto !important;
    right: 3%;
    color: gray;
    z-index: 2;
}

.none {
    display: none;
}