ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-toolbar {
  --background: linear-gradient(to right, #74b2f0, #c99db3, #fd804d);
}

ion-item {
  --inner-border-width: 0 0 0 0;
}

ion-item {
  --hightligt-height: 0;
  --padding-left: 10px !important;
  --padding-start: 10px;
  --inner-padding-start: 10px;
  --padding-end: 10px;
  --inner-padding-end: 10px;
}

ion-item.child-menu {
  --hightligt-height: 0;
  --padding-left: 15px !important;
  --padding-start: 15px;
  --inner-padding-start: 15px;
  --padding-end: 15px;
  --inner-padding-end: 15px;
}

ion-label {
  padding-left: 10px;
  font-size: 14px !important;
}

#link-row {
  padding-bottom: 2rem;
  background: transparent;
  border: none;
  background-image: none;
}

#link-row a {
  font-size: 11px;
  color: #707070;
  text-decoration: none;
}

#link-row ion-col {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

ion-col {
  padding: 0px 0 0 0;
}
