<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title> Privacy Policy </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="privacywrap">
    <p class="section-label mgbt-25">
      OMNIPAY INC.
      PRIVACY STATEMENT</p>

    <p>Last Updated: 8 June 2021</p>

    <p>Omnipay, Inc. (“OPI”, “we”, “our” or “us”) is committed to protecting your privacy and staying transparent with
      the way we handle your personal data. This Privacy Statement intends to inform you about our privacy framework and
      to assist you in better understanding why we collect your personal data, how we use, store, share and protect it,
      your rights and choices, and how you can contact us about your privacy concerns. </p>

    <p>This Privacy Statement includes important information about your personal data and we encourage you to read it
      carefully.</p>

    <p><b>SCOPE AND CONSENT</b></p>
    <p>
      We obtain personal data about you from various sources. “You” may be a visitor of our Site, a user of one or more
      of our Services, a direct or indirect customer of a co-brand partners, or information provided by our third-party
      partners. If you are either a direct or indirect customer, your agreement to avail of our services should contain
      the information that we use your personal data to facilitate the services we provide, to comply with our financial
      regulatory and other legal obligations, and to pursue our legitimate business interests.
    </p>

    <p>By using our services and/or registering for an account with us, you are consenting and accepting the terms our
      Privacy Policy, and you are consenting to our collection, use, disclosure, access, retention, and protection of
      your personal information as described herein.</p>

    <p>Please note that, if you submit any personal information about other people, you represent that you have the
      authority to provide such information and to permit us to use their personal information in accordance with this
      Privacy Statement.</p>

    <p><b>INFORMATION OMNIPAY, INC. COLLECTS</b></p>
    <p>We collect information about you from a variety of sources, including:</p>
    <ul>
      <li>
        A. Information we collect from you directly. This covers personal information you provide in your application
        form for subscription/registration to our services by via the Mobile App, filling out a Application Form
        (physical or online) with us directly or one of our partners, or provide personal information to one of our
        customer service representative;
      </li>
      <li>
        B. Information we collect about you when you use our mobile application or financial services. This covers
        personal information we collect as you use our products & services (i.e. bills payment or purchases; website,
        card, or apps usage; voluntary survey submission, promos, prize raffles or reward & loyalty programs; complaints
        or request for service;
      </li>
      <li>
        C. Information we collect about you from other sources, such as commercially available sources. This covers
        personal information we obtained about you from third parties such as but not limited to credit bureaus, public
        databases, or identity verification providers.
      </li>
    </ul>

    <p>From the source mentioned about, we collect basic personal information like your name, date of birth, gender,
      nationality, address, and identity supporting documents such as PhilSys, Driver License, SSS or passport numbers.
      We also collect your contact details like billing address, telephone number, mobile phone number, email address.
    </p>

    <p>When using our card (physical or digital), website, or mobile app, we collect information about your use our
      product/services for purchases; remittances; utility bills payments and government contributions; ATM withdrawals,
      payments and transfers to third parties; Account maintenance, including change in account information and contact
      details; and device access information when you use our products and services in order to safeguard your account,
      and to improve your products, service, and user experience. </p>

    <p><b>USES / INFORMATION SHARING</b></p>
    <p>We use personal data to complete transactions and to provide payment-related services to our customers. We also
      use the personal information collected for our legitimate business purposes and compliance regulatory rules and
      regulations. We use personal data:
    </p>
    <ul>
      <li>A. To provide the products and services you request.</li>
      <li>B. To provide marketing and events-related communications.</li>
      <li>C. To provide advertisements when using our sites and services.</li>
      <li>D. To manage our sites and services.
      </li>
      <li>E. To respond to your inquiries and fulfill your requests.</li>
      <li>F. For our business purposes, such as data analysis, audits, crime/fraud monitoring and prevention, security,
        developing new products, testing, enhancing, improving or modifying our Intel Services, identifying usage
        trends, determining the effectiveness of our promotional campaigns, and operating and expanding our business
        activities.</li>
      <li>
        G. Perform accounting, auditing, billing, reconciliation, and collection activities.
      </li>
      <li>H. Perform other activities consistent with this Privacy Statement.</li>
    </ul>

    <p><b>INFORMATION SHARING</b></p>
    <p>
      We may share your information:
    </p>
    <ul>
      <li>
        A. To our affiliate entities and subsidiaries for the purposes described in this Privacy Statement.
      </li>
      <li>
        B. To our authorized partners, service providers, and suppliers (e.g. web site hosting, data analysis, payment
        processing, cyber security, information technology and related infrastructure provision, customer service, email
        delivery, credit card processing, auditing and other similar services).
      </li>
      <li>
        C. With third-party service providers who work on our behalf and our business partners to send you joint
        communications.
      </li>
      <li>
        D. To protect and defend Omnipay, Inc. (including enforcing Omnipay, Inc.’s Terms and Conditions).
      </li>
      <li>
        E. When required by law and/or government authorities.
      </li>
      <li>
        F. Other companies whom you have also given consent to share your information.
      </li>
    </ul>

    <p>
      In case we do share your personal data, we ensure that our disclosure is always subject to the applicable rules
      and regulations of the Data Privacy Act. We will never share, rent, or sell your personal information to
      third-parties unrelated to us.
    </p>
    <p>
      If you do not wish to provide your personal information to us, Omnipay, Inc. may not be able to provide the
      products and services you request.
    </p>

    <p><b>INFORMATION RETENTION</b></p>
    <p>
      We retain your personal data to fulfill our legal or regulatory obligations and for our business purposes. We may
      retain Personal Data for longer periods than required by law if it is in our legitimate business interests and not
      prohibited by law. In addition, Omnipay, Inc. may retain personal data from closed accounts to comply with
      national laws, prevent fraud, collect any fees owed, resolve disputes, troubleshoot problems, assist with any
      investigation, enforce our Contracts or Agreements and take other actions permitted or required by applicable
      national laws. We will continue to use and disclose such personal data in accordance with this Privacy Statement.
    </p>

    <p><b>SECURITY</b></p>
    <p>The integrity, confidentiality and security of your information are particularly important to us. Our systems are
      designed to provide reasonable and appropriate organizational, technical, and administrative measures to protect
      personal information within our organization against unauthorized or unlawful access, alteration, disclosure, or
      destruction. We likewise strictly enforce our privacy policy within the company. Unfortunately, no data
      transmission or storage system can be guaranteed to be 100% secure. If you have reason to believe that your
      interaction with Omnipay, Inc. is no longer secure please immediately notify us by contacting us in accordance
      with the “Contact Us” section below.</p>

    <p><b>MANAGEMENT OF INFORMATION</b></p>
    <p>If you would like to correct, update, delete, or request access to the personal information that you have
      provided to us, you may contact us thru the channels provided with the “Contact Us” section below or by sending a
      letter to the postal address below including your name, email address, account identification, and purpose of the
      request.</p>

    <p>For your protection, we will only implement requests with respect to personal information about you (not anyone
      else), and we may need to verify your identity before implementing your request. we will comply with your request
      as soon as reasonably practicable and in accordance with applicable laws. We may need to retain certain
      information for recordkeeping purposes, as required under applicable legal obligations, and/or to complete any
      transactions that you began prior to requesting such change or deletion. Some of your information may remain
      within our systems and other records, in compliance with applicable law.</p>

    <p><b>STATEMENT</b></p>
    <p>Omnipay, Inc. provides access to this Privacy Statement by:</p>
    <ul>
      <li>
        A. Linking to it throughout our websites
      </li>
      <li>
        B. Referencing it in our Terms and Condition
      </li>
      <li>
        C. Incorporating it into our contracts, agreements, and other documents as necessary or appropriate
      </li>
    </ul>

    <p><b>QUESTIONS OR COMPLAINTS</b></p>
    <p>If you have a question or a complaint about this Privacy Statement, privacy standards, or information handling
      practices, you can reach us thru the channels provided with the “Contact Us” section below</p>

    <p><b>UPDATES TO THIS PRIVACY STATEMENT</b></p>
    <p>
      We may change this Privacy Statement. The “Last Updated” section at the top of this page states when this Privacy
      Statement was last revised. Any changes to this Privacy Statement will become effective when we post the revised
      Privacy Statement on our Website or when informed through our Mobile App. Your use of our Services despite proper
      notification of the changes means that you accepted the revised Privacy Statement.
    </p>
    <p>
      If any change may materially and negatively affect the privacy of your personal information, we will use
      reasonable efforts to notify you in advance and give you a reasonable period of time to object to any changes.
    </p>
    <p>
      We encourage you to periodically review this Privacy Statement to stay informed about how we collect, use,
      disclose, access, retain, and protection your personal data.
    </p>

    <p><b>CONTACT US</b></p>
    <p>If you have any questions or complaints about this Privacy Statement, practices or questions about your account
      information or personal data, you may contact our Data Protection Officer at +632 8884-1793.</p>

    <p>For any other concern, you may contact our customer service at customerservice@omnipay.asia.</p>
  </div>
</ion-content>