<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title> EULA </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="eulawrap">
    <div class="row">
      <div class="col-lg-12">
        <p class="text-center top_header">
          OPI MOBILE APPLICATION
        </p>
        <p class="text-center header">
          END USER LICENSE AGREEMENT
        </p>
        <p>
          This is End User License Agreement (“<b>EULA</b>”) between You
          and
          <b>OMNIPAY INC. (“OPI”)</b> governs your use of your OPI Mobile App and Services.
        </p>

        <p>By registering for the Mobile App and Services, you must read, agree with and
          accept all of the terms and
          conditions contained in the EULA (including the Policy Updates, policies and terms referred to below). OPI
          reserves the right to revise and modify this EULA may reasonably require according to its sole discretion. All
          future changes set out in the Policy Update already published on the OPI’s website and Mobile App and are
          incorporated by reference into this Agreement and will take effect as specified in that Policy Update. Said
          revisions or modifications shall be posted in https://www.omnipay.asia and, once published therein, shall
          become binding on You.
        </p>

        <p>
          This Agreement, together with other legal terms and legally required disclosures relating to your use of the
          Service will be provided to you, at all times on the OPI’s website and Mobile App. This EULA is provided to
          you and concluded in English only. You agree that any use by you of the Mobile App and Services shall
          constitute your acceptance of the Agreement and we recommend that you store or print-off a copy of the
          Agreement (including all policies) for your records.
        </p>

        <p>Please read carefully all of the terms and conditions of this EULA, the terms of
          these policies, and each of the other agreements that apply to you.</p>

        <br />

        <p class="text-center gen_tc">
          GENERAL TERMS AND CONDITIONS
        </p>

        <p>
          <b>1.0 DEFINITION OF TERMS:</b>
        </p>

        <p>
          <b>1.1 “You”</b> and <b>“Your”</b> means the individual or legal entity licensing the Mobile App
          under this EULA.
        </p>

        <p>
          <b>1.2 “Account Holder”</b> means an individual who uses the Service and whose name appears on the
          digital, online form, or signed enrollment form or application form, or the Card, as may be applicable.
        </p>

        <p>
          <b>1.3 “AMLA”</b> means the Anti-Money Laundering Act, as implemented by the Anti-Money Laundering
          Council (AMLC) of the Philippines.
        </p>

        <p>
          <b>1.4 “Use”</b> or <b>“Using”</b> means to download, install, activate, access, or otherwise use the
          Mobile App.
        </p>

        <p>
          <b>1.5 “Mobile App”</b> means the OPI website access portal, OPI Mobile App and any Upgrades made
          available to You by an Approved Source and licensed to You by OPI.
        </p>

        <p>
          <b>1.6 “Services”</b> mean viewing your account information, transacting using the Mobile App, or
          acquiring & issuing services of OPI, including other related financial services, which is hosted and/or made
          available by OPI to you through any authorized Mobile Device.
        </p>

        <p>
          <b>1.7 “Approved Source”</b> means (i) OPI or (ii) OPI authorized reseller, distributor, or an official
          digital distribution platform for computer software, including but not limited to, Google Play Store and Apple
          App Store.
        </p>

        <p>
          <b>1.8 “Upgrades”</b> means all updates, upgrades, bug fixes, error corrections, enhancements and other
          modifications to the Mobile App.
        </p>

        <p>
          <b>1.9 “Transaction”</b> means any and all acts, whether financial or non-financial, that the Account
          Holder does while using the Mobile App. Financial transactions are any transactions that credit or debit
          amounts from the Account balance and Non-financial transactions are any other transaction that do not credit
          or debit from the Account balance.
        </p>

        <p>
          <b>1.10 “Mobile device”</b> means any mobile computer or a variety of other electronic devices that
          have portable functionality.
        </p>

        <p>
          <b>2.0 APPLICATION APPROVAL AND SERVICES ACTIVATION</b>
        </p>

        <p>
          <b>2.1</b> You affirm that the information you provided in the
          registration in connection Mobile Application are true and correct.
        </p>
        <p>
          <b>2.2</b> You hereby authorize the OPI to verify such information
          from whatever source, and authorizes the holder, controller and
          processor of such information, as the same is defined in Republic
          Act No. 10173 (otherwise known as the “Data Privacy Act of 2012” and
          other Data Privacy Laws), including any amendment or modification of
          the same, to confirm, release, share and verify the existence,
          truthfulness, and/or accuracy of such information. Any incorrect
          information provided by you shall result in the delay or denial of
          the registration.
        </p>
        <p>
          <b>2.3</b> Approval of the registration of the Mobile Application
          shall be at the sole discretion of OPI. OPI may even require
          submission of additional requirements to facilitate the processing
          of the registration. The Mobile Application shall be activated only
          after approval by OPI of your registration.
        </p>
        <p>
          <b>2.4</b> You hereby represent and warrant that the information
          provided in this and all of the OPI's forms/applications is true and
          accurate in all respects. If the information provided is false or
          inaccurate, you shall be deemed in material breach of this agreement
          as well as all agreements related to the services provided by OPI
          and you hereby forfeit any and all amounts due you from the OPI.
        </p>

        <br />
        <p>
          <b>3.0 GRANT OF LICENSE TO USE MOBILE APPLICATION AND SERVICES</b>
        </p>
        <p>
          <b>3.1 License.</b> Subject to your compliance with the terms and
          conditions of this EULA, OPI grants you a limited, revocable,
          non-exclusive, non-transferable and non-sublicensable, license to
          use the Mobile Application and access the Services. OPI grants you
          the right to use the Mobile Application only for your personal use
          on the mobile devise that you own or control and as permitted by any
          terms of use required by the party providing the app store from
          which you are downloading the Mobile Application. Your right to use
          the Mobile Application shall only extend if you acquired the Mobile
          Application from an Approved Source. Your license is valid only if
          the registration is complete and accurate.
        </p>
        <p>
          <b>3.2 Ownership.</b> Subject to the terms hereof and the licenses
          granted hereunder, OPI will have and retain sole and exclusive
          ownership of, and all right, title and interest in, the Mobile
          Application and Services, including any improvements therein, and
          you shall have no right, license or interest therein.
        </p>

        <br />
        <p>
          <b>4.0 Limitations and Restrictions</b>
        </p>
        <p>
          <b>4.1 General.</b> You will not and will not allow a third party
          to:
        </p>
        <ol>
          <li>
            modify, copy, publish, license, sell, or otherwise commercialize
            the Mobile Application or any information or software associated
            with the Application;
          </li>
          <li>
            use the Mobile App in any manner that could impair any service offered by OPI or in any way or interfere
            with any party's use or enjoyment of any OPI Services;
          </li>
          <li>
            use any device, software or routine to interfere or attempt to interfere with the proper working of the
            Service or any Instruction being conducted through the Service;
          </li>
          <li>
            use any automatic device, program, algorithm or methodology, or any similar or equivalent manual process, to
            access, acquire, copy or monitor any part of the Services, or in any way reproduce or circumvent its
            navigational structure or presentation, as well as to obtain or attempt to obtain any material, document or
            information through any means not purposely made available through the Services;
          </li>
          <li>
            gain or attempt to gain unauthorized access to any part or feature of the Mobile App or Services or to any
            other system or network connected to the Services. You also agree not to gather, harvest, or otherwise
            collect information about others using the Services without their explicit informed consent; nor restrict,
            prevent or prohibit any other party from using the Services.
          </li>
          <li>
            You agree not to circumvent, disable, or otherwise interfere with security-related features of the Services,
            including those that prevent or restrict use or copying of any content, material or information available on
            or through the Services, as well as those that enforce limitations on the use of the Services.
          </li>

          <p>In addition, you agree to:</p>
          <ol>
            <li>
              use the Application in compliance with all applicable laws and
              regulations;
            </li>
            <li>
              comply with applicable third-party terms of agreement when using the Mobile App (e.g. your wireless data
              service agreement or other third party services you rely on to use the Mobile App);
            </li>
            <li>
              provide OPI with: (i) true, accurate, current and complete evidence of your identity, and promptly update
              your personal information if and when it changes; (ii) provide any identity documentations as may be
              requested by OPI; (iii) provide true, accurate, current and complete information as indicate on the
              website
              when required to receive the Service and any other information which may be required in relation to the
              Recipient; and (iv) any other information that must be provided for the Service to be properly executed,
              as
              specified when you enter the details of the Service you are interested. You agree not to conceal your true
              name or use fictitious name; and
            </li>
            <li>
              regularly check for and, if available, updates the Mobile App and/or the Services.
            </li>
          </ol>

          <p>
            Your right to use the Mobile App will terminate immediately if you violate any provision of this EULA. OPI
            reserves the right to verify any activity that is done through the Services, especially if it involves
            compliance with AMLA or with other laws, rules or regulations. OPI reserves modify, suspend, stop or
            terminate
            the Mobile App or any of its Service immediately upon notice, at any time and from time to time, within
            applicable laws and regulations of the Philippines.
          </p>

          <li>
            <b>Unauthorized Access.</b> You shall not, and shall not request that any third-party, modify, reverse
            engineer or attempt to gain unauthorized access to any portion of the Mobile App and Services or attempt to
            remove, modify, or conceal any product identification, copyright, proprietary, intellectual property notices
            or other marks on or within the Mobile App.
          </li>

        </ol>

        <!--Continuation-->



        <p>
          <b>4.2 Service Access.</b> Access shall be subject to restrictions established by OPI and shall not be used by
          you for any other purpose. OPI reserves the right to monitor and record data and information in connection
          with provision of the access to the extent it deems necessary for maintaining performance standards and system
          security. If OPI executed the Transaction in accordance with the instructions you have provided to OPI, and
          that the instructions prove to have been incorrect, OPI are not liable for the incorrect execution of the
          Transaction. If it’s a financial transaction, OPI will however make reasonable efforts to recover the funds.
          OPI may charge you a reasonable fee, reflective of its efforts, to do so. Unless there are exceptional
          circumstances, no adjustment will be made for any currency fluctuations which may have occurred between the
          time you initiate the transaction and the time of credit.
        </p>
        <p>
          <b>4.3 Illegal or Criminal Activities.</b> The Mobile App and Services may not be used to facilitate any
          unlawful, illegal, or criminal activity. As a condition of your use of the Mobile App and Services, you
          warrant not to use the Mobile App and Service to violate any local, national, or international law. OPI shall
          have the right to automatically suspend or block the your Account or any transaction in the event that OPI has
          reason to believe that the transaction or the account may be illegal or used for fraudulent or suspicious
          businesses or by an unauthorized person. OPI may, but shall not have the obligation to, inform you prior to
          suspending or blocking of the account or the transaction. You hereby authorize OPI to suspend or block the
          account or any transaction under this provision and you shall hold OPI free and harmless against any and all
          consequences of such suspension or blocking, or any loss or damage which you may suffer as a result thereof.
        </p>
        <p>Upon receipt of any subpoena involving national security, heinous crimes, and/or transnational crimes coming
          from any law enforcement agency, OPI, at its sole discretion, may submit or provide the requested information.
          You hereby irrevocably waive and release OPI from any and all liability arising from the release of
          information under this provision. Furthermore, you hereby agree to indemnify and hold OPI harmless against any
          damages, losses, liabilities, settlements and expenses (including, without limitation, costs and attorneys’
          fees) in connection with any claim or action that arises from an alleged violation of the foregoing or
          otherwise from your use of the Service and OPI hereby reserves the right forfeit any and all amounts due you
          from the OPI. </p>
        <p>
          <b>4.4</b> Fees and other charges shall be in accordance with the Table of Fees and Charges, which may be
          subject to changes upon discretion of OPI and in accordance with laws, rules and regulations.
        </p>
        <p>
          <b>4.5</b> You authorize OPI and/or any of its Agents to disclose to third-parties any and all information you
          have provided and consent to the use and processing of such information by OPI and or any of its agents or
          third parties with the transaction or any investigation in relation thereto.
        </p>

        <br />
        <p>
          <b>5.0 OBLIGATIONS</b>
        </p>
        <p>
          <b>5.1 Your Obligations.</b>
        </p>

        <ol>
          <li>
            You shall be solely responsible for providing, maintaining, and ensuring the compatibility of the Mobile
            Device registered to access or use the Services. OPI shall not be required to support altered, damaged, or
            modified Mobile App, Mobile App which is not the most current version, or Mobile App not previously approved
            by OPI in writing. It shall be your obligation to be informed of any changes in the EULA and other Policy
            Updates by accessing, from time to time, OPI’s website where the latest version of the EULA and other
            Policies may be found and other information posted in the Mobile App.
          </li>
          <li>
            Depending on the Service provided, you may register additional user/s (the “Approved User/s”) which OPI may
            approve on a case to case basis. Your use, as well as the Approved User/s, shall be governed by this
            Agreement and other related terms and conditions. Any reference in the Agreement, Terms and Conditions, or
            any Product or Service Description, Product/Service Plans/Service Special Terms and Conditions which applies
            to you shall also apply to Approved User/s and/or any renewal thereof. You represent and warrant that you
            have secured the necessary consent of the Approved User/s relative to any information (including personal
            data) provided to OPI relating to the Services. You further represent and warrant that the Approved User/s
            has carefully read and understood the EULA and Terms and Condition of the Service provided herein.
          </li>
          <li>
            You will pay all obligations, fees, and assessments that may be imposed depending on the Service that you
            availed. OPI has the right to deduct from your account any and all monies that may be due and demandable by
            OPI. In the event that the amount of the your transactions exceeds the available balance in your OPI, OPI
            has the right to reject the transaction.
          </li>
          <li>
            You agree that you are responsible to check for update/s and will download such update/s to the Mobile App
            before use. You understand that certain Mobile App functions may not be available or disabled by Mobile App
            if you do not perform the needed update.
          </li>
        </ol>

        <p>
          <b>5.2 OPI Obligations.</b> OPI will provide the support services and will respond to support requests brought
          to its attention. OPI will use reasonable efforts to implement appropriate internal operational measures,
          safeguards, and procedures with respect to its performance of any Services hereunder, to ensure the protection
          of your data and networks, and to otherwise prevent unauthorized access to and disclosure of Confidential
          Information and unauthorized access.
          access.
        </p>

        <br />
        <p>
          <b>6.0 INTELLECTUAL PROPERTY</b>
        </p>
        <p>
          <b>6.1 Intellectual Property Rights.</b> OPI own all right, title and interest in and to the Mobile App and
          Services, including without limitation, all concepts, methods, processes, software, text, graphics, images,
          designs, databases, data, inventions and any improvements, enhancements, modifications, and derivative works
          thereto, and all Intellectual Property therein, and, at all times, the same shall remain the sole and
          exclusive property of the OPI. All rights not expressly granted to you are retained by the OPI.
        </p>
        <p>
          Other company, product, or service names mentioned in the Mobile App may be trademarks of their respective
          companies. You will not modify, adapt, translate, prepare derivative works from, decompile, reverse-engineer,
          disassemble or otherwise attempt to derive source code from the Mobile App and you will not remove, obscure or
          alter OPI's copyright notice, trademarks or other proprietary rights notices affixed to, contained within or
          accessed in conjunction with or by the Mobile App.
        </p>
        <p>
          <b>6.2 Changes.</b> OPI reserves the right to upgrade, modify,
          replace or reconfigure the Mobile Application and Services at any
          time.
        </p>

        <br />
        <p>
          <b>7.0 DISCLAIMER OF WARRANTIES</b>
        </p>
        <p>
          <b>7.1 DISCLAIMER.</b> THE MOBILE APP AND SERVICES ACCESSED BY YOU ARE PROVIDED "AS IS" AND "AS AVAILABLE”.
          OPI DOES NOT WARRANT THAT THE SERVICES WILL BE UNINTERRUPTED OR ERROR FREE; NOR DOES OPI MAKE ANY WARRANTY AS
          TO THE RESULTS THAT MAY BE OBTAINED FROM USE OF THE MOBILE APP AND SERVICES. OPI EXPRESSLY DISCLAIMS TO THE
          FULLEST EXTENT PERMITTED BY LAW ALL EXPRESS, IMPLIED AND STATUTORY WARRANTIES, INCLUDING WITHOUT LIMITATION
          THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT OF PROPRIETARY
          RIGHTS, AND ANY WARRANTIES REGARDING THE SECURITY, RELIABILITY, TIMELINESS AND PERFORMANCE OF THE MOBILE APP
          AND SERVICES.
        </p>
        <p>
          YOU DOWNLOAD AND USE THE MOBILE APP AND SERVICE AT YOUR OWN DISCRETION AND RISK, AND YOU ARE SOLELY
          RESPONSIBLE FOR ANY DAMAGES TO YOUR MOBILE DEVICE(S) OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OR USE OF
          THE MOBILE APP.
        </p>
        <p>
          <b>7.2 WARRANTY EXCLUSIONS.</b> EXCEPT AS OTHERWISE STATED IN THE EULA, OPI IS NOT LIABLE TO YOU FOR ANY HARM
          RESULTING FROM ANY USE OR MISUSE OF THE MOBILE APP. SUCH LIMITATION OF LIABILITY: (A) INCLUDES DIRECT,
          INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY AND PUNITIVE DAMAGES, WHETHER SUCH CLAIM IS BASED ON
          CONTRACT, TORT OR OTHERWISE (EVEN IF OPI HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES); (B) APPLIES
          WHETHER DAMAGES ARISE FROM USE OR MISUSE OF AND RELIANCE ON THE MOBILE APP, FROM INABILITY TO USE THE MOBILE
          APP, OR FROM THE INTERRUPTION, SUSPENSION, OR TERMINATION OF THE MOBILE APP (INCLUDING ANY DAMAGES INCURRED BY
          THIRD PARTIES); AND (C) APPLIES NOTWITHSTANDING A FAILURE OF THE ESSENTIAL PURPOSE OF ANY LIMITED REMEDY AND
          TO THE FULLEST EXTENT PERMITTED BY LAW.
        </p>

        <br />
        <p>
          <b>8.0 INDEMNIFICATION OBLIGATIONS</b>
        </p>
        <p>
          <b>8.1 Indemnity.</b> You shall defend, indemnify and hold harmless OPI and its officers, directors,
          employees, and agents (“Indemnitee”), for, from and against any and all third party losses, damages,
          liabilities, deficiencies, claims, actions, causes of action, judgments, settlements, assessments, demands,
          interest, awards, penalties, fines, costs, or expenses, including, without limitation, reasonable Attorneys’
          Fees and Costs (as defined below) that are incurred by Indemnitee or awarded against Indemnitee (collectively,
          “Losses”) that an Indemnitee may incur or be subject to as a result of or arising out of your: (i) failure to
          comply with applicable law or regulation; (ii) gross negligence or willful misconduct; and (iii) breach of the
          EULA.
        </p>

        <br />
        <p>
          <b>9.0 LIMITATION OF LIABILITY</b>
        </p>
        <p>
          <b>9.1 LIMITATION OF LIABILITY.</b> You shall defend, indemnify and hold harmless OPI and its officers,
          directors, employees, and agents (“Indemnitee”), for, from and against any and all third party losses,
          damages, liabilities, deficiencies, claims, actions, causes of action, judgments, settlements, assessments,
          demands, interest, awards, penalties, fines, costs, or expenses, including, without limitation, reasonable
          Attorneys’ Fees and Costs (as defined below) that are incurred by Indemnitee or awarded against Indemnitee
          (collectively, “Losses”) that an Indemnitee may incur or be subject to as a result of or arising out of your:
          (i) failure to comply with applicable law or regulation; (ii) gross negligence or willful misconduct; and
          (iii) breach of the EULA.
        </p>
        <p>
          FURTHER, NEITHER OPI NOR ANY OF ITS AFFILIATES OR PARTNERS WILL BE RESPONSIBLE FOR ANY COMPENSATION,
          REIMBURSEMENT, LOSSES, COSTS OR DAMAGES ARISING IN CONNECTION WITH: (A) YOUR INABILITY TO USE THE SERVICES,
          INCLUDING AS A RESULT OF ANY (I) TERMINATION OR SUSPENSION OF THE EULA OR YOUR USE OF OR ACCESS TO THE MOBILE
          APPAND SERVICES, (II) OPI’S DISCONTINUATION OF ANY OR ALL ACCESS TO THE MOBILE APP AND SERVICES, OR (III) ANY
          UNANTICIPATED OR UNSCHEDULED DOWNTIME OF ALL OR A PORTION OF THE ACCESS TO THE MOBILE APP AND SERVICES FOR ANY
          REASON WHATSOEVER, INCLUDING AS A RESULT OF POWER OUTAGES, SYSTEM FAILURES OR OTHER INTERRUPTIONS; (B) THE
          COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; (C) ANY INVESTMENTS, EXPENDITURES, OR COMMITMENTS BY YOU
          TO ANY THIRD PARTIES IN CONNECTION WITH THE EULA OR YOUR USE OF OR ACCESS TO THE MOBILE APP AND SERVICES; OR
          (D) ANY UNAUTHORIZED ACCESS TO, ALTERATION OF, OR THE DELETION, DESTRUCTION, DAMAGE, LOSS, DENIAL OF ACCESS,
          OR FAILURE TO MAINTAIN OR STORE ANY OF YOUR CONTENT OR OTHER DATA.
        </p>
        <p>
          YOUR SOLE REMEDY FOR ANY BREACH SHALL BE LIMITED TO THE REMEDIES SET FORTH HEREIN AND SHALL NOT EXCEED THE
          AMOUNT ACTUALLY PAID BY YOU IN CONNECTION WITH THE SPECIFIC SERVICE TO WHICH THE ALLEGED BREACH IS ATTRIBUTED.
        </p>
        <p>
          <b>9.2 Knowledge and Consent.</b> The limitations on liability and remedies set forth in this agreement have
          been expressly agreed upon by the parties and reflect a knowing allocation of the risks inherent in this
          agreement and state the entire liability of the parties.
        </p>

        <br />
        <p>
          <b>10.0 TERMINATION</b>
        </p>
        <p>
          <b>10.1 Termination.</b> Either party may suspend performance or terminate this Agreement if the other party
          is in material breach of the Agreement.
        </p>
        <p>
          In the event that the government or controlling body of any country or territory in which the Mobile App is
          disseminated or made available imposes any law, restriction or regulation that makes it illegal to disseminate
          or make available the Mobile App, or any portion thereof, into such country or territory, or if any such law,
          restriction or regulation places a substantial commercial burden on OPI, OPI shall have the right to suspend
          the availability of the Mobile App in such country or territory.
        </p>
        <p>
          <b>10.2 Effect of Termination.</b> Upon expiration or termination of this Agreement, except as otherwise set
          forth herein, all rights and licenses granted hereunder will immediately cease.
        </p>
        <p>
          <b>10.3 Survival.</b> The provisions of Sections 1.0 (Application Approval and Services Activation), 3.0
          (Limitations and Restrictions), 4.0 (Obligations), 5.0 (Intellectual Property), 6.0 (Disclaimer of
          Warranties), 7.0 (Indemnification Obligations), 8.0 (Limitation of Liability), and 10.0 (User Agreement and
          Privacy Policy) shall survive expiration or termination of this Agreement.
        </p>

        <br />
        <p>
          <b>11.0 USER AGREEMENT AND PRIVACY POLICY</b>
        </p>
        <p>
          <b>11.1 Data Privacy.</b> Upon submission of your Mobile App/Registration through a Mobile Devise, OPI may
          collect and store sign-on data in connection with that device (including device ID) and geolocation data in
          order to provide OPI’s Services. You understand and agree that OPI will collect and process your personal
          data, including your identity and location as a part of this service. Your personal data will also be
          requested and processed if you seek to register your Account through the Mobile App.
        </p>
        <p>
          You hereby agree that all Personal Data (as defined under the Data Privacy Law of 2012 and its implementing
          rules and regulations), customer data and account or transaction information or records (collectively, the
          "Information") you provided or collected through the Mobile App may be processed, profiled or shared to, by
          and between OPI, and any of its parent company, affiliates and subsidiaries (collectively, "OPI group").
        </p>
        <p>
          You hereby agree that OPI’s Privacy Policy shall in all respects apply in relation to the Mobile App, your
          account and any matter arising therefrom or incidental thereto. You agree that the Privacy Policy is deemed to
          be incorporated by reference into this Consent.
        </p>
        <p>
          You understand and consent that the processing, profiling and sharing apply during the prospecting and
          application stages, as well as for the duration of and even after the rejection, termination, closure or
          cancellation of the account or relationship or Services (collectively "Termination") for a period of at least
          ten (10) years from the Termination of your last existing account or relationship.
        </p>
        <p>
          <b>11.2 Incorporation of other Agreements.</b> The terms of the EULA and Privacy Policy, including all
          agreements incorporated by reference, also apply to your use of the Mobile App and Services. Changes to the
          EULA will take effect after notification. It is your responsibility to check the referenced websites regularly
          for modifications to this Agreement. The current Agreement and Terms and Condition, with priority being given
          to the Terms and Condition, shall prevail over any additional, conflicting, or inconsistent terms and
          conditions. If the change relates to a change which OPI believes to be reasonable and, in its opinion, will
          neither reduce your rights nor increase your responsibilities, such changes shall be made without prior notice
          to you.
        </p>
        <p>
          If you continue to use the Mobile App after the expiry of the notice period, if any, you will be deemed to
          have accepted the change. If you do not agree to any change, please uninstall and discontinue using the Mobile
          App.
        </p>
        <p>
          <b>11.3 Waivers.</b> The waiver by either Party of a breach of any provision shall be in writing and shall in
          no way be construed as a waiver of any succeeding breach of such provision or the waiver of the provision
          itself.
        </p>
        <p>
          <b>11.4 No Third Party Beneficiaries.</b> Unless otherwise provided, the terms and provisions of the EULA are
          intended solely for the benefit of each Party hereto and their respective successors and assigns, and it is
          not the intention of the Parties to confer third-party beneficiary rights upon any other person.
        </p>
        <p>
          <b>11.5 Disputes.</b>b> If a dispute arises between the Parties relating to this EULA that cannot be resolved
          informally, each Party involved in such dispute (each, a “Disputing Party” and, collectively, the “Disputing
          Parties”) agrees to comply with the procedures set forth in this Section (“Dispute Resolution Procedures”).
          The Dispute Resolution Procedures will be invoked by a Party, before such Party pursues any other available
          remedy, by such Party giving written notice to the other Party. Following receipt of such notice, the
          Disputing Parties shall, for a period of thirty (30) days after the dispute first arises, attempt in good
          faith to negotiate a resolution of the dispute (the “Initial Negotiation”). If the Disputing Parties cannot
          reach agreement pursuant the informal Dispute Resolution Procedures set forth in this Section, the Disputing
          Parties may proceed with such remedies as they may be entitled and deem appropriate.
        </p>
        <p>
          You acknowledge and agree that a remedy at law for any breach or attempted breach of the provisions of
          Intellectual Property and Confidentiality, may be inadequate, and therefore, OPI is entitled to specific
          performance and injunctive or other equitable relief in the event of any such breach or attempted breach, in
          addition to any other rights or remedies available to OPI at law or in equity. You hereby waive any
          requirement: (i) for the securing or posting of any bond in connection with the obtaining of any such
          injunctive or other equitable relief; and (ii) for proving actual damages. For clarification, OPI does not
          have to follow the Dispute Resolution Procedures in the event this Subsection is applicable.
        </p>
        <p>
          The prevailing Party in any mediation, arbitration or other legal action between the Parties relating to this
          Agreement will be entitled to an award of its reasonable Attorneys’ Fees and Costs incurred in connection with
          such action. “Attorneys’ Fees and Costs” means: (i) fees and out-of-pocket costs of a Party and a Party’s
          attorneys, as applicable, including costs of such Party’s in-house counsel, support staff costs, costs of
          preparing for litigation, computerized research, telephone and facsimile transmission expenses, mileage,
          deposition costs, postage, duplicating, process service, videotaping and similar costs and expenses; (ii)
          costs and fees of expert witnesses, including appraisers; and (iii) investigatory fees.
        </p>
        <p>
          The parties agree that the English version of the EULA will govern in the event of a conflict between it and
          any version translated into another language and that the EULA shall be interpreted and governed by Philippine
          Laws.
        </p>
        <p>
          <b>11.6. Severability</b> In the event that any invalid under any applicable law or be so held by applicable
          court decision, such provision shall be changed and interpreted so as to best accomplish the objectives within
          the limits of applicable law or if necessary to maintain the validity of the remaining terms, removed from the
          Agreement.
        </p>
      </div>
    </div>
  </div>
</ion-content>